{% load static %}

<html lang="en">

<body>

<link href="{% static 'pro/cat.css' %}" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">




<style>


div.col-lg-2 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.col-lg-2:hover {
  border: 1px solid #777;
}

div.col-lg-2 img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}




</style>




<div class="container">


    <h4 style="font-size:2vw;"><strong><center>Tap on any image to learn more</center></strong></h4>


    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/colles-fr">
        <img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/colles.png' %}" width="40">

    <strong >MORTIERS COLLES</strong></a></h4>
    <hr class="mt-6 mb-8">



    <div class="row">

        <div class="col-lg-2">

            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-ce-dz-fr">
                <img  src="{% static 'pro/pictures/ce.png'%}">
            </a>
            <div class="box-element product">
                <h6><strong>Puma CE</strong></h6>
            </div>

        </div>


        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pegoland-ce-dz-fr">
                <img class="thumbnail" src="{% static 'pro/pictures/pegoland.png'%}">
            </a>
            <div class="box-element product">
                <h6><strong>Pegoland® CE</strong></h6>
            </div>
        </div>


        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pegoland-uno-c1-fr-fr">
                <img class="thumbnail" src="{% static 'pro/pictures/flex2.png'%}">
            </a>
            <div class="box-element product">
                <h6><strong>Pegoland® Flex C2 TE S1</strong></h6>


            </div>
        </div>



        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/tradicol-ce-dz-fr">
                <img class="thumbnail" src="{% static 'pro/pictures/tradicol.png'%}">
            </a>
            <div class="box-element product">

                <h6><strong>Tradicol® CE</strong></h6>


            </div>
        </div>






        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/tradicol-exterieur-c1-te-dz-fr">
            <img class="thumbnail" src="{% static 'pro/pictures/tradicol2.png'%}">
                </a>
            <div class="box-element product">
                <h6><strong>Tradicol® Extérieur C1 TE </strong></h6>
            </div>
        </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pegoland-uno-c1-fr-fr">
            <img class="thumbnail" src="{% static 'pro/pictures/uno.png'%}">
                </a>
            <div class="box-element product">
                <h6><strong>Pegoland® Uno C1</strong></h6>
            </div>
        </div>


        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pegoland-porcelnico-platre-c1-te-dz-fr">
                <img class="thumbnail" src="{% static 'pro/pictures/Porcelaineux.png'%}">
            </a>
            <div class="box-element product">

                <h6><strong>Pegoland® Porcelaineux Plâtre C1 TE</strong></h6>
            </div>
        </div>


        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pegoland-porcelaineux-c1-te-dz-fr">
            <img class="thumbnail" src="{% static 'pro/pictures/Porcelaineux2.png'%}">
                </a>
            <div class="box-element product">
                <h6><strong>Pegoland® Porcelaineux C1 TE</strong></h6>
            </div>
        </div>


        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pegoland-special-c1-te-dz-fr">
            <img class="thumbnail" src="{% static 'pro/pictures/Pegolandspecial.png'%}">
                </a>
            <div class="box-element product">
                <h6><strong>Pegoland® Spécial C1 TE</strong></h6>
            </div>
        </div>


    </div>




        <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/mortiers-pour-joints-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/joint.png' %}" width="40">
        <strong>MORTIERS POUR JOINTS</strong></a></h4>
    <hr class="mt-6 mb-8">

    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemcolor-joint-universel-cg2-a-w-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemcolor.png'%}">
            </a>
        <div class="box-element product">

            <h6><strong>Morcemcolor® Joint Universel CG2 A W</strong></h6>


        </div>
         </div>


        </div>


    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/mortiers-monocouche-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/mono.png' %}" width="40">
        <strong>MORTIERS MONOCOUCHE</strong></a></h4>
    <hr class="mt-6 mb-8">

    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemdur-ec-oc-csiii-w2-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemdur.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemdur® EC OC CSIII W2</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemdur-r-oc-csiii-w2-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemdur2.png'%}">
                </a>
        <div class="box-element product">

            <h6>

                <strong>Morcemdur® R Gratté OC CSIII W2</strong></h6>


        </div>
         </div>





    </div>

    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/mortiers-de-revetement-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/revet.png' %}" width="40">
        <strong>MORTIERS DE REVETEMENT </strong></a></h4>
    <hr class="mt-6 mb-8">


    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemsec-multiusage-gp-csiv-w0-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/Morcemsec.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemsec® Multiusage GP CSIV W0</strong></h6>


        </div>
         </div>



        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemsec-couche-epaisse-gris-gp-csiv-w0-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/Morcemsec2.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemsec® Couche Epaisse Gris GP CSIV W0</strong></h6>


        </div>
         </div>



        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemsec-couche-fine-gris-gp-csiv-w0-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/Morcemsec3.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemsec® Couche Fine Gris GP CSIV W0</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemsec-couche-epaisse-blanc-cr-csiv-w2-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/Morcemsec4.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemsec® Couche Epaisse Blanc CR CSIV W2</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemsec-couche-fine-blanc-cr-csiv-w2-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/Morcemsec5.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemsec® Couche Fine Blanc CR CSIV W2</strong></h6>


        </div>
         </div>



    </div>

    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/isolation-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/isola.png' %}" width="40">
        <strong>ISOLATION </strong></a></h4>
    <hr class="mt-6 mb-8">


    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-panel-gp-w2-fr-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcem.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Panel GP W2</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-therm-gp-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcem2.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Therm GP</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/cheville-d-ancrage-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/cheville.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Cheville d’Ancrage</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/baguette-de-demararge-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/baguette.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Baguette de démararge</strong></h6>


        </div>
         </div>

            <div class="col-lg-2">
                <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-therm-profile-angle-pvc-avec-maille-dz-fr">
                <img class="thumbnail" src="{% static 'pro/pictures/profilé.png'%}">
                </a>
                <div class="box-element product">

                <h6><strong>Morcem® Therm Profilé angle PVC avec maille</strong></h6>


                </div>
            </div>


                <div class="col-lg-2">
                    <a href="https://www.grupopuma.com/fr-DZ/produits/voir/Grillage-blanc-dz-fr">
                        <img class="thumbnail" src="{% static 'pro/pictures/grillage.png'%}">
                        </a>
                    <div class="box-element product">

                        <h6><strong>Grillage Blanc</strong></h6>


                    </div>
                </div>




</div>

    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/gamme-revetements-de-sols-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/sol.png' %}" width="40">
        <strong>GAMME REVETEMENT DE SOLS</strong></a></h4>
    <hr class="mt-6 mb-8">


    <div class="row">


        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/paviland-imprime-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/paviland.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Paviland® Imprimé</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/paviland-demoulant-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/paviland2.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Paviland® Démoulant</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/paviland-industriel-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/paviland3.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Paviland® Industriel</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/paviland-resine-a10-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/paviland4.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Paviland® Résine A10</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/paviland-resine-a6-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/paviland5.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Paviland® Résine A6</strong></h6>


        </div>
         </div>



        </div>

    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/gamme-reparation-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/reparation.png' %}" width="40">
        <strong>GAMME REPARATION</strong></a></h4>
    <hr class="mt-6 mb-8">


    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemrest-c-5-r3-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemrest.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemrest® C 5 R3</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemrest-obturateur-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemrest2.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemrest® Obturateur</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemrest-rf-35-r3-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemrest3.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemrest® RF 35 R3</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemrest-ef-50-r4-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemrest4.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemrest® EF 50 R4</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-grout-500-ce-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemrest5.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Grout 500</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/implarest-ep-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemrest6.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Implarest® EP</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/implarest-c-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemrest7.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Implarest® C</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pumalastic-pu-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumalastic.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Pumalastic-PU</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pumafix-tqv-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumalastic2.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Pumafix TQV</strong></h6>


        </div>
         </div>

    </div>

    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/etancheite-et-impermeabilisation-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/etanch.png' %}" width="40">
        <strong>ÉTANCHÉITÉ ET IMPERMÉABILISATION</strong></a></h4>
    <hr class="mt-6 mb-8">


    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemrest-c-5-r3-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/implarest.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemrest® C 5 R3</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-elastic-pm-aqua-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemelastic.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Elastic PM Aqua</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/geotextil-pu-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/geotextil.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Geotextil PU</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-elastic-pm-vernis-u-v-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemelastic2.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Elastic PM Vernis U.V. Aqua</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-elastic-pm-barniz-t-r-fr-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/morcemelastic3.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Elastic PM Barniz T.R.</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/pumaflex-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumaflex.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Pumaflex</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-dry-f-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/dryf.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Dry F</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-dry-sf-plus-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/drysf.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Dry SF Plus</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcem-dry-r-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/dryr.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcem® Dry R</strong></h6>


        </div>
         </div>
</div>

    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/additifs-et-primaires-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/additif.png' %}" width="40">
        <strong>ADDITIF ET PRIMAIRES</strong></a></h4>
    <hr class="mt-6 mb-8">


    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/morcemrest-c-5-r3-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/implafix.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Morcemrest® C 5 R3</strong></h6>


        </div>
         </div>

        </div>

    <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/peintures-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/peintures.png' %}" width="40">
        <strong>PEINTURES</strong></a></h4>
    <hr class="mt-6 mb-8">


    <div class="row">
        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-color-intenso-mat-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumacolor.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Puma® Color Intenso Mat <br>(Intérieur)</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-color-intenso-sat-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumacolor2.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Puma® Color Intenso Sat <br>(Intérieur)</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-color-hydroxane-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumacolor3.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Puma® Color Hydroxane <br>(Extérieur)</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-color-imperlite-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumacolor4.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Puma® Color Imperlite <br>(Extérieur)</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-color-relleno-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumacolor5.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Puma® Color Relleno D2/D3<br>(Extérieur)</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-color-rayado-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumacolor6.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Puma® Color Rayado D3<br>(Revêtements)</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-color-granulado-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumacolor7.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Puma® Color Granulado D3<br>(Revêtements)</strong></h6>


        </div>
         </div>

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/puma-color-fijador-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/pumacolor8.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Puma® Color Fijador<br>(Impressions)</strong></h6>


        </div>
         </div>
        </div>


        <hr class="mt-6 mb-8">
    <h4><a href="https://www.grupopuma.com/fr-DZ/produits/famille/ligne-paysagisme-fr"><img  alt="Cinque Terre" class="rounded-circle" height="40" loading="lazy" src="{% static 'pro/pictures/paysagisme.png' %}" width="40">
        <strong>LIGNE PAYSAGISME</strong></a></h4>
    <hr class="mt-6 mb-8">


    <div class="row">

        <div class="col-lg-2">
            <a href="https://www.grupopuma.com/fr-DZ/produits/voir/galets-decoratifs-dz-fr">
        <img class="thumbnail" src="{% static 'pro/pictures/galets.png'%}">
                </a>
        <div class="box-element product">

            <h6><strong>Galets décoratifs</strong></h6>


        </div>
         </div>
    </div>

        <hr class="mt-6 mb-8">



</div>

</body>
</html>